{% extends "base.html" %}
{% block title %} 邮件 {% endblock %}

{% block content %}
<div class="container text-start">
    <h2> {{ mail.title }} </h2>
    <div>
        <span class="badge bg-danger"> {{ mail.date }} </span>
        <span class="badge bg-success"> {{ mail.from_addr }} </span>
    </div>

    {% for i in html_id %}
        <div class="card my-2">
            <div class="card-header"> HTML邮件格式 </div>
            <iframe class="col-12 my-2 viewer"
                    src="{{ url_for("mailbox.html_page", date=date, select=select, mail=mail_id, id=i) }}">
                你的浏览器不支持查阅此邮件。
            </iframe>
        </div>
    {% endfor %}

    {% for i in plain %}
        <div class="card my-2">
            <div class="card-header"> 普通邮件格式 </div>
            <div class="card-body">
                {{ i.body }}
            </div>
        </div>
    {% endfor %}

    {% for i in file_list %}
        <div class="card my-2">
            <div class="card-header"> {{ i.filename }} </div>
            <div class="card-body">
                <div class="text-start">
                    大小：{{ i.size_str }}
                    <br>
                    类型：{{ i.content_type }}
                </div>
                <div class="text-end">
                    <a class="card-link" href="{{ url_for("mailbox.file_page", date=date, select=select, mail=mail_id, filename=i.filename) }}"> 下载 </a>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}


{% block javascript_foot %}
    {{ super() }}
    <script>
        const ifr_list = document.getElementsByClassName('viewer');
        for (let i = 0; i < ifr_list.length; ++i) {
            ifr_list[i].onload = function () {
                const ifr = ifr_list[i]
                const oHeight = Math.max(ifr.contentWindow.document.documentElement.offsetHeight, ifr.contentWindow.document.body.offsetHeight);
                const cHeight = Math.max(ifr.contentWindow.document.documentElement.clientHeight, ifr.contentWindow.document.body.clientHeight);
                const height = Math.max(oHeight, cHeight);
                ifr.style.height = height + 'px'
            }
        }
      </script>

{% endblock %}